<form [formGroup]="maxCpcForm">
    <div class="form-group">
        <label for="max-cpc-field">Max. CPC</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">MYR</div>
            </div>
            <input formControlName="maxCpcField" class="form-control" id="max-cpc-field" type="text" />
        </div>
        <div class="flex-buttonpair">
            <button class="btn btn-primary" (click)="sendClosePopover()">CANCEL</button>
            <button class="btn btn-primary">SAVE</button>
        </div>
    </div>
</form>